@model IEnumerable<MaintenanceTracker.Data.FuelUp>

@using MaintenanceTracker.Data

@{
    ViewBag.Title = "GetFuelUpRecord";
}

<h2>Fuel Up History</h2>

<span>Total Spent on Fuel: $@(Model.Sum(p => p.Price).ToString())</span>
<br />
<span>Average Fuel Economy: @(Math.Round((Model.Sum(p => p.Mpg) / Model.Count()), 2).ToString()) Mpg</span>
<br />

<br />
<br />

<p>
    @Html.ActionLink("Add Fuel Stop", "Create", "FuelUp")
</p>
<table class="table table-striped table-hover">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mpg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gallons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mpg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUtc)
            </td>
        </tr>

    }

</table>
<p> @Html.ActionLink("Back to Vehicles", "Index", "Vehicle")</p>
