@model IEnumerable<MaintenanceTracker.Data.VehicleMaintenance>

@{
    ViewBag.Title = "GetMaintenanceRecord";
}

<h2>Maintenance Record</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaintenanceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaintenanceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleMaintenanceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleMaintenanceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleMaintenanceId })
        </td>
    </tr>
}

</table>
<p> @Html.ActionLink("Back to vehicle", "Details", new { id = ViewBag.VehicleId })</p>
