@model MaintenanceTracker.Models.VehicleMaintenance.VehicleMaintenanceDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleMaintenanceDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleMaintenanceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleMaintenanceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintenanceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.VehicleMaintenanceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
