@model IEnumerable<MaintenanceTracker.Models.VehicleMaintenance.VehicleMaintenanceListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Service List (All Vehicles)</h2>

<p>
    @Html.ActionLink("Add Service", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintenanceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VehicleMaintenanceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.VehicleMaintenanceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VehicleMaintenanceId })
            </td>
        </tr>
    }

</table>
